/* Global */

$color-main: #bcb09e;
$color-title: #fff;
$color-background: #3d3327;
$image-source: "https://i.postimg.cc/K8r71XJL/background-image-00.jpg";
$font-title: "Roboto Condensed", Sans-Serif;
$font-regular: "Cabin", Sans-Serif;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
	background: $color-background;
	color: $color-main;
	font-family: $font-regular;
	font-size: 20px;
	line-height: 1.7;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}

section {
	padding: 108px 0;
}

.section-title {
	position: relative;
	font-family: $font-title;
	font-size: 32px;
	margin: 0 0 60px 0;
}

.section-title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 50px;
	height: 10px;
	transform: translateX(-50%);
	background: $color-main;
}

/* Splash */

.splash {
	height: 100vh;
	position: relative;
	background-image: url($image-source);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;

	.splash-inner {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	i {
		font-size: 24px;
		background: $color-main;
		width: 60px;
		height: 60px;
		line-height: 60px;
		color: $color-title;
		border-radius: 50%;
	}
}

.page-title {
	color: $color-title;
	font-family: $font-title;
	font-size: 48px;
	// word-spacing: 0.1em;
	margin: 48px 0 0 0;
	position: relative;
}
.page-title::after {
	position: absolute;
	content: "";
	bottom: -24px;
	left: 50%;
	width: 100px;
	height: 10px;
	transform: translateX(-50%);
	background: $color-main;
}

.page-subtitle {
	color: $color-title;
	font-family: sans-serif;
	margin: 48px 0 0 0;
}

/* Intro */

.intro {
	background: $color-title;

	p {
		width: 70%;
		margin: 0 auto;
		padding: 48px 0;
		font-size: 24px;
		border-top: 1px solid $color-main;
		border-bottom: 1px solid $color-main;
	}
}

/* Skills */

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.skills ul li {
	position: relative;
}

.skill-image {
	position: absolute;
	width: 50%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	overflow: hidden;
}

.skill.right .skill-image {
	right: 0;
}
.skill.left .skill-image {
	left: 0;
}

.skill.right .skill-description {
	padding: 36px 55% 36px 0;
	text-align: right;
}

.skill.left .skill-description {
	padding: 36px 0 36px 55%;
	text-align: left;
}

.skill-image img:hover {
	transform: scale(1.5);
	transition: transform 0.5s;
}
