/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #3d3327;
  color: #bcb09e;
  font-family: "Cabin", Sans-Serif;
  font-size: 20px;
  line-height: 1.7;
}

.button {
  width: 200px;
  height: 48px;
  background-color: #bcb09e;
  color: #3d3327;
  border-radius: 5px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 108px 0;
}

.section-title {
  position: relative;
  font-family: "Roboto Condensed", Sans-Serif;
  font-size: 32px;
  margin: 0 0 60px 0;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: #bcb09e;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background: url("https://i.postimg.cc/K8r71XJL/background-image-00.jpg") center center/cover fixed;
}
.splash .splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash i {
  font-size: 24px;
  background: #bcb09e;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
}

.page-title {
  color: #fff;
  font-family: "Roboto Condensed", Sans-Serif;
  font-size: 48px;
  margin: 48px 0 0 0;
  position: relative;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: -24px;
  left: 50%;
  width: 100px;
  height: 10px;
  transform: translateX(-50%);
  background: #bcb09e;
}

.page-subtitle {
  color: #fff;
  font-family: sans-serif;
  margin: 48px 0 0 0;
}

/* Intro */
.intro {
  background: #fff;
}
.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 24px;
  border-top: 1px solid #bcb09e;
  border-bottom: 1px solid #bcb09e;
}

/* Skills */
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  position: relative;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}

.skill.right .skill-image {
  right: 0;
}

.skill.left .skill-image {
  left: 0;
}

.skill.right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.skill.left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

.skill-image img:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

/*contact*/
.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-form input {
  width: 400px;
  height: 48px;
  margin: 10px;
  border-radius: 5px;
  font-family: "Cabin", Sans-Serif;
  font-size: 18px;
}
.submit-form textarea {
  resize: none;
  width: 400px;
  margin: 10px;
  border-radius: 5px;
  font-family: "Cabin", Sans-Serif;
  font-size: 18px;
}
.submit-form .button {
  width: 200px;
}

/*gallery*/
.gallery ul {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.gallery-image {
  float: left;
  width: 33.3333%;
  height: 100%;
  line-height: 0;
  position: relative;
}
.gallery-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-1 {
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery-image img:hover {
  opacity: 0.5;
}

.gallery-image:hover .btn-1 {
  opacity: 0.8;
  cursor: pointer;
}

.row::before,
.row::after {
  clear: both;
  content: "";
  display: table;
}

/*footer*/
.page-footer {
  background-color: #fff;
}
.page-footer p {
  margin: 0;
  padding: 10px;
}